<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Employee.js"></script>

<centre>
    <input type="text" value="@ViewBag.Id" id="hdnId" hidden="hidden" />
    <div class="container" id="tblemp">
    </div>
</centre>
