
@{
    ViewBag.Title = "DetailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Registration.js"></script>
<h2>DetailsIndex</h2>

<input type="text" value="@ViewBag.RegId" id="hdnId" hidden="hidden"/>
<table id="tbldetails" border="1" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile No</th>
            <th>UserName</th>
            <th>PassWord</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>